<!DOCTYPE html>
<html>
<head>
	<title>Heart Disease Prediction</title>
	<style type="text/css">
			*{
				padding : 3px;
				margin-top : 3px;
				color: black;
			}

			h3{
				color : white;
				font-size: 25px;
				padding-top: 20px;
				padding-left: 20px;
				font-weight: lighter;
			}

			label{
				width : 150px;
				float: left;
			}


			
			

	</style>
</head>
<body background="static/bg.jpg">
<div id="head">
	<h3>Heart Disease Prediction</h3>
	<form action="" method="post">
		<div class="row">
			<label for="Attribute1">Age : </label>
			<input name="att1" type="number" step="any" value = "0">
		</div>
		<div class="row">
			<label for="Attribute2">Sex (1 or 0) : </label>
			<input name="att2" type="number" step="any" value = "0">
		</div>
		<div class="row">
			<label for="Attribute3">CP : </label>
			<input name="att3" type="number" step="any" value = "0">
		</div>
		<div class="row">
			<label for="Attribute4">Trestbps : </label>
			<input name="att4" type="number" step="any" value = "0">
		</div>
		<div class="row">
			<label for="Attribute5">Chol : </label>
			<input name="att5" type="number" step="any" value = "0">
		</div>
		<div class="row">
			<label for="Attribute6">Fbs : </label>
			<input name="att6" type="number" step="any" value = "0">
		</div>
		<div class="row">
			<label for="Attribute7">RestECG : </label>
			<input name="att7" type="number" step="any" value = "0">
		</div>
		<div class="row">
			<label for="Attribute8">Thalach : </label>
			<input name="att8" type="number" step="any" value = "0">
		</div>
		<div class="row">
			<label for="Attribute9">Exang : </label>
			<input name="att9" type="number" step="any" value = "0">
		</div>
		<div class="row">
			<label for="Attribute10">Oldpeak : </label>
			<input name="att10" type="number" step="any" value = "0">
		</div>
		<div class="row">
			<label for="Attribute11">Slope : </label>
			<input name="att11" type="number" step="any" value = "0">
		</div>
		<div class="row">
			<label for="Attribute12">Ca : </label>
			<input name="att12" type="number" step="any" value = "0">
		</div>
		<div class="row">
			<label for="Attribute13">Thal : </label>
			<input name="att13" type="number" step="any" value = "0">
		</div>
		<div class="row">
		<input type="submit" value="SUBMIT">
		</div>
	</form>
</div>
</body>
</html>