<!DOCTYPE html>
<html>
<head>
	<title>Heart Disease Prediction</title>
	<style type="text/css">
			*{
				padding : 3px;
				margin-top : 3px;
				color: black;
			}

			h3{
				color : white;
				font-size: 25px;
				padding-top: 20px;
				padding-left: 20px;
				font-weight: lighter;
			}

			label{
				width : 150px;
				float: left;
			}


			
			

	</style>
</head>
<body background="static/bg.jpg">
<div id="head">
	<h3>Heart Disease Prediction</h3>
	<form action="" method="post">
		<div class="row">
			<label for="Attribute1">Enter Username: </label>
			<input name="username" type="text">
		</div>
		<div class="row">
			<label for="Attribute1">Enter Password: </label>
			<input name="password" type="password">
		</div>
		
		<div class="row">
		<input type="submit" value="SUBMIT">
		</div>
	</form>
</div>
</body>
</html>